
<div id = "results" class="col-sm-12">
<span id ="emptyalert">
<%= @emptyalert %>
</span>
<span>
  <%= @matchingalert %>
</span>
</div>
<div id = "leftheart" class = "col-sm-4">

</div>
<div id = "centerheart" class = "col-sm-4">

</div>
<div id = "rightheart" class = "col-sm-4">

</div>
<div id = "image2" class="col-sm-12">
<img id = "closedchest" src="https://45.media.tumblr.com/e3d49e133e80608a1df8613d75df1e6d/tumblr_o10it00yY81u9bdxno1_400.gif"/>
<p> You Lose </p>
</div>
