
<div id = "results" class="col-sm-12">
<span id ="emptyalert">
<%= @emptyalert %>
</span>
<span>
  <%= @matchingalert %>
</span>
</div>
<div id = "leftheart" class = "col-sm-4">
<img class = "hearts" src = "http://vignette2.wikia.nocookie.net/zelda/images/8/85/Heart_Container_(Ocarina_of_Time_and_Majora's_Mask).png/revision/latest?cb=20091220215822" />
</div>
<div id = "centerheart" class = "col-sm-4">
<img class = "hearts" src = "http://vignette2.wikia.nocookie.net/zelda/images/8/85/Heart_Container_(Ocarina_of_Time_and_Majora's_Mask).png/revision/latest?cb=20091220215822" />
</div>
<div id = "rightheart" class = "col-sm-4">
<img class = "hearts" src = "http://vignette2.wikia.nocookie.net/zelda/images/8/85/Heart_Container_(Ocarina_of_Time_and_Majora's_Mask).png/revision/latest?cb=20091220215822" />
</div>
<div id = "image2" class="col-sm-12">
<img id = "closedchest" src="http://cdn.makeagif.com/media/2-27-2015/UFXpKU.gif"/>
<p> DodoODododdodoo dod odo dododo dododo DO do DO DOOOOOOOOOO </p>
</div>
